.button {
  position: relative;
  display: inline-block;
  border: var(--border);
  border-radius: var(--border-radius);
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-family-heading);
  padding: .5em 1em;
  transition: .5s ease-in-out;

  &::before {
    content: '';
    background-color: var(--color-white--400);
    position: absolute;
    width: 0;
    height: calc(100% + .128em);
    inset-block-start: -.0652em;
    inset-inline-start: -.0652em;
    z-index: -1;
    transition: width .25s ease-in-out;
  }

  &:hover {
    color: var(--color-blue--600);
  }

  &:hover::before {
    width: calc(100% + .128em);
  }
}

.button--primary {
  background-color: var(--color-white--400);
  color: var(--color-blue--600);

  &:hover {
    filter: brightness(110%);
  }
}
