.project {
  grid-column: span 2;

  @media (min-width: 48em) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 2em;
    align-items: start;

    &:nth-child(odd) .project__tags {
      justify-content: end;
    }

    &:nth-child(odd) {
      text-align: right;

      > * {
        grid-column: 8 / 13;
      }
    }

    &:nth-child(odd) &__screenshot {
      grid-column: 1 / 8;
    }

    &:nth-child(odd) &__tags {
      flex-direction: row-reverse;
    }

    &__buttons {
      justify-content: flex-start;
    }

    &:nth-child(odd) &__buttons {
      justify-content: flex-end;
    }
  }

  > * {
    @media (min-width: 48em) {
      grid-column: span 5;
    }
  }

  &__title {
    margin-block-end: 0.5em;

    @media (min-width: 48em) {
      margin: 0;
    }
  }

  &__screenshot {
    @media (min-width: 48em) {
      position: relative;
      display: block;
      border-radius: var(--border-radius);
      overflow: hidden;
      grid-column: 6 / 13;
      grid-row: 1 / 6;

      &::before {
        position: absolute;
        display: block;
        content: '';
        background-color: var(--color-blue--400);
        width: 100%;
        height: 100%;
        inset-block-start: 0;
        z-index: 10;
        opacity: .1;
        transition: opacity .3s ease-in-out;
      }

      &:hover::before {
        opacity: 0;
      }

      img {
        vertical-align: top;
      }

      &:hover img {
        filter: grayscale(0%);
      }
    }
  }

  &__tags {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    font-size: .8rem;
    justify-content: center;

    @media (min-width: 48em) {
      justify-content: flex-start;
    }
    
    &__tag {
      background-color: var(--color-blue--400);
      padding: .25em .4em;
      border-radius: var(--border-radius);
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5em;
    margin-block-start: 1em;

    @media (min-width: 48em) {
      justify-content: flex-start;
    }
  }
}

.project.project--small {
  @media (min-width: 48em) {
    text-align: left;
    grid-column: span 1;
    grid-template-columns: 1fr;
    justify-content: start;
    justify-items: start;

    & > * {
      grid-column: span 1;
    }
  }
}