.site-footer {
  padding-block: 1em;

  @media (min-width: 48em) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    grid-column: span 12;
  }
}

.footer-item h4 {
  margin-block-end: .5em;
}

.copyright {
  border-block-start: .0625rem solid var(--color-blue--400);
  padding-block: .5rem;
  font-size: .85rem;

  @media (min-width: 48em) {
    grid-column: span 12;
  }
}
